.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
}
h1{
  color: #ececf1;
}

.chat{
  width: 50%;
  height: 80%;
  margin-bottom: 2%;
  overflow: scroll;
}

.bottomBar{
  border-style: solid;
  border-color: #8e8ea0;
  border-width: 1px;
  border-radius: 15px;
  max-height: 200px;
  padding: 5px;
  height: 52px;
  width: 50%;
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textInput{
  background-color: transparent;
  border: none;
  width: 80%;
  height: 100%;
  font-size: 16px;
  color: #ececf1;
  font-weight: 700;
  overflow-y: scroll;

}

.textInput:focus {
  outline: none; /* Removes the default focus outline */
  border-color: transparent; /* Makes the border transparent on focus */
}
.arrow{
  height: 60%;
  padding: 5px;
  border-radius: 10px;
  border: none;
  background-color: #8e8ea0;
  opacity: 0.5;
  margin-left: 5%;
  align-items: center;
}
.arrow img{
  height: 100%;
}
.arrow:hover{
  opacity: 0.8;
}
.clear{
  height: 60%;
  padding: 5px;
  border: none;
  border-radius: 10px;
  background-color: #8e8ea0;
  opacity: 0.5;
  margin-left: 2%;
  align-items: center;
}
.clear img{
  height: 100%;
}
.clear:hover{
  opacity: 0.8;
}


.msg{
  text-align: left;
  color: #ececf1;
  font-weight: 500;
  font-size: 16px;
  width: 98%;
  margin-left: 2%;
}
.role{
  font-weight: 900;
  font-size: 18px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 20px;
}

::-webkit-scrollbar-corner {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: #ececf1; /* color of the scroll thumb */
  border-radius: 6px; /* roundness of the scroll thumb */
  opacity: 0.2;
}

::-webkit-scrollbar-thumb:hover {
  opacity: 0.5;
}


@media screen and (max-width: 800px) {
  .bottomBar {
      width: 90%;
  }
  .chat{
    width: 90%;
  }
}